---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import WebsiteCard from '../components/2023.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<WebsiteCard/>
	</main>
</Layout>

<style>
	html {
		background: white;
		font-family: Arial, Helvetica, sans-serif;
	}
</style>
