---
// import Layout from '../layouts/Layout.astro';
// import Card from '../components/Card.astro';
import Banner from "../components/Banner.jsx";
import SparkHacks24 from '../components/SparkHacks24.astro';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Web Archive</title>
  </head>
  <body>
    <Banner />
		<SparkHacks24 title="SparkHacks 2024" from='Feburary 9' to='Febuary 10' image="sparkHacks2024.png" href='#'/>
  </body>
</html>
<style>
  body {
    margin: 0;
  }
</style>
